*~
_darcs
*.gch
*.obj
*.o
*.s
*.exe
*.a
*.dll
*.lib
*.exp
*.res
*.RES
*.image
*.dylib
*#*#
.DS_Store
.gdb_history
*.*.marks
.*.swp
temp
logs
*.bak
.#*
*.swo
*.so
a.out
bin/
gen/
*.dex
*.class
local.properties
*.apk
*.ap_
